.Rproj.user
.Rhistory
.RData
.Ruserdata
Reports/
.Rdata
.httr-oauth
.DS_Store
inst/csv
inst/data
Results/
rsconnect/
RunApp.R
CodeToRun.R
studyReportApp.R
dataShiny.RData
notes1.R
notes2.R
itemsConfig - Copy.csv
prevalenceResults/
incidenceResults/
results_zip/
generatedReport.docx
extras/
