.Rproj.user
.Rhistory
.RData
.Ruserdata
Reports/
.Rdata
.httr-oauth
.DS_Store
inst/csv
inst/data
Results/
results/
rsconnect/
RunApp.R
CodeToRun.R
studyReportApp.R
dataShiny.RData
notes1.R
notes2.R
itemsConfig - Copy.csv
prevalenceResults/
incidenceResults/
results_zip/
generatedReport.docx
extras/
OtherResults/
Report.html
report.tex
.Ink
.docx
Report_files/
incidence_attrition_ab.rda
prevalence_attrition_ab.rda
incidence_estimates_ab.rda
prevalence_estimates_ab.rda
publish/
docs
.rscignore
app.R
